# ignore all config files
config.json
# SillyTavern
SillyTavern-extras/
SillyTavern-backups/
xtts/
modules.txt
modules-xtts.txt
etc/ytdlp/yt-dlp-downloads/settings/modules-audio.txt
etc/ytdlp/yt-dlp-downloads/settings/modules-video.txt
etc/ytdlp/yt-dlp-downloads/yt-dlp.exe
